/*=============================================
=    Lets start with some instructions of:    =
=============================================*/
/*===============================
=            IMPORTS            =
===============================*/
/**
*
* RESET
*
**/
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus {
  outline-color: 0;
  outline-style: none;
  outline-width: 0;
}
::selection {
  background-color: #0099cc;
  color: #FFF;
}
::-moz-selection {
  background-color: #0099cc;
  color: #FFF;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: none;
  outline: none;
}
button {
  background: none;
  border: none;
  overflow: visible;
  outline: none;
  padding: 0;
}
button:focus {
  outline: none;
}
body {
  line-height: 1;
}
/**
*
* IMAGES PATH
*
**/
/**
*
* VARIABLES
*
**/
/**
*
* VARIABLES
*
**/
/**
*
* VARIABLES
*
**/
/**
*
* MIXINS
*
**/
/*==================================================
=            transitions AND transforms            =
==================================================*/
/**
	
	Some instrutions:
	- Single props: A ~ prefix to escape the resulting expression (i.e. stop LESS from enclosing it in a string): 
		-> Usage example: 
		   .transition(~"width 0.32s ease 0.8s");

	- Multiple props: Without ~ prefix. 
		-> Usage example:
		   .transition(transform 0.4s cubic-bezier(.11,.69,.25,1.22) 0.3s, opacity 0.4s ease 0.3s); 

**/
/*-----  End of transitions AND transforms  ------*/
/**
*
* GRID SYSTEM
*
**/
/**
*
* GRID SYSTEM
*
**/
.app-container {
  /*=================================
	=            CONTAINER            =
	=================================*/
  /*===========================
	=            ROW            =
	===========================*/
  /*============================
	=            COLS            =
	============================*/
}
.app-container .iv-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .app-container .iv-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .app-container .iv-container {
    width: 970px;
  }
}
.app-container .iv-row {
  margin-right: -15px;
  margin-left: -15px;
}
.app-container .iv-col-xs-1,
.app-container .iv-col-sm-1,
.app-container .iv-col-md-1,
.app-container .iv-col-lg-1,
.app-container .iv-col-xs-2,
.app-container .iv-col-sm-2,
.app-container .iv-col-md-2,
.app-container .iv-col-lg-2,
.app-container .iv-col-xs-3,
.app-container .iv-col-sm-3,
.app-container .iv-col-md-3,
.app-container .iv-col-lg-3,
.app-container .iv-col-xs-4,
.app-container .iv-col-sm-4,
.app-container .iv-col-md-4,
.app-container .iv-col-lg-4,
.app-container .iv-col-xs-5,
.app-container .iv-col-sm-5,
.app-container .iv-col-md-5,
.app-container .iv-col-lg-5,
.app-container .iv-col-xs-6,
.app-container .iv-col-sm-6,
.app-container .iv-col-md-6,
.app-container .iv-col-lg-6,
.app-container .iv-col-xs-7,
.app-container .iv-col-sm-7,
.app-container .iv-col-md-7,
.app-container .iv-col-lg-7,
.app-container .iv-col-xs-8,
.app-container .iv-col-sm-8,
.app-container .iv-col-md-8,
.app-container .iv-col-lg-8,
.app-container .iv-col-xs-9,
.app-container .iv-col-sm-9,
.app-container .iv-col-md-9,
.app-container .iv-col-lg-9,
.app-container .iv-col-xs-10,
.app-container .iv-col-sm-10,
.app-container .iv-col-md-10,
.app-container .iv-col-lg-10,
.app-container .iv-col-xs-11,
.app-container .iv-col-sm-11,
.app-container .iv-col-md-11,
.app-container .iv-col-lg-11,
.app-container .iv-col-xs-12,
.app-container .iv-col-sm-12,
.app-container .iv-col-md-12,
.app-container .iv-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.app-container .iv-col-xs-1,
.app-container .iv-col-xs-2,
.app-container .iv-col-xs-3,
.app-container .iv-col-xs-4,
.app-container .iv-col-xs-5,
.app-container .iv-col-xs-6,
.app-container .iv-col-xs-7,
.app-container .iv-col-xs-8,
.app-container .iv-col-xs-9,
.app-container .iv-col-xs-10,
.app-container .iv-col-xs-11,
.app-container .iv-col-xs-12 {
  float: left;
}
.app-container .iv-col-xs-12 {
  width: 100%;
}
.app-container .iv-col-xs-11 {
  width: 91.66666667%;
}
.app-container .iv-col-xs-10 {
  width: 83.33333333%;
}
.app-container .iv-col-xs-9 {
  width: 75%;
}
.app-container .iv-col-xs-8 {
  width: 66.66666667%;
}
.app-container .iv-col-xs-7 {
  width: 58.33333333%;
}
.app-container .iv-col-xs-6 {
  width: 50%;
}
.app-container .iv-col-xs-5 {
  width: 41.66666667%;
}
.app-container .iv-col-xs-4 {
  width: 33.33333333%;
}
.app-container .iv-col-xs-3 {
  width: 25%;
}
.app-container .iv-col-xs-2 {
  width: 16.66666667%;
}
.app-container .iv-col-xs-1 {
  width: 8.33333333%;
}
.app-container .iv-col-xs-pull-12 {
  right: 100%;
}
@media (min-width: 768px) {
  .app-container .iv-col-sm-1,
  .app-container .iv-col-sm-2,
  .app-container .iv-col-sm-3,
  .app-container .iv-col-sm-4,
  .app-container .iv-col-sm-5,
  .app-container .iv-col-sm-6,
  .app-container .iv-col-sm-7,
  .app-container .iv-col-sm-8,
  .app-container .iv-col-sm-9,
  .app-container .iv-col-sm-10,
  .app-container .iv-col-sm-11,
  .app-container .iv-col-sm-12 {
    float: left;
  }
  .app-container .iv-col-sm-12 {
    width: 100%;
  }
  .app-container .iv-col-sm-11 {
    width: 91.66666667%;
  }
  .app-container .iv-col-sm-10 {
    width: 83.33333333%;
  }
  .app-container .iv-col-sm-9 {
    width: 75%;
  }
  .app-container .iv-col-sm-8 {
    width: 66.66666667%;
  }
  .app-container .iv-col-sm-7 {
    width: 58.33333333%;
  }
  .app-container .iv-col-sm-6 {
    width: 50%;
  }
  .app-container .iv-col-sm-5 {
    width: 41.66666667%;
  }
  .app-container .iv-col-sm-4 {
    width: 33.33333333%;
  }
  .app-container .iv-col-sm-3 {
    width: 25%;
  }
  .app-container .iv-col-sm-2 {
    width: 16.66666667%;
  }
  .app-container .iv-col-sm-1 {
    width: 8.33333333%;
  }
  .app-container .iv-col-sm-pull-12 {
    right: 100%;
  }
  .app-container .iv-col-sm-pull-11 {
    right: 91.66666667%;
  }
  .app-container .iv-col-sm-pull-10 {
    right: 83.33333333%;
  }
  .app-container .iv-col-sm-pull-9 {
    right: 75%;
  }
  .app-container .iv-col-sm-pull-8 {
    right: 66.66666667%;
  }
  .app-container .iv-col-sm-pull-7 {
    right: 58.33333333%;
  }
  .app-container .iv-col-sm-pull-6 {
    right: 50%;
  }
  .app-container .iv-col-sm-pull-5 {
    right: 41.66666667%;
  }
  .app-container .iv-col-sm-pull-4 {
    right: 33.33333333%;
  }
  .app-container .iv-col-sm-pull-3 {
    right: 25%;
  }
  .app-container .iv-col-sm-pull-2 {
    right: 16.66666667%;
  }
  .app-container .iv-col-sm-pull-1 {
    right: 8.33333333%;
  }
  .app-container .iv-col-sm-pull-0 {
    right: auto;
  }
  .app-container .iv-col-sm-push-12 {
    left: 100%;
  }
  .app-container .iv-col-sm-push-11 {
    left: 91.66666667%;
  }
  .app-container .iv-col-sm-push-10 {
    left: 83.33333333%;
  }
  .app-container .iv-col-sm-push-9 {
    left: 75%;
  }
  .app-container .iv-col-sm-push-8 {
    left: 66.66666667%;
  }
  .app-container .iv-col-sm-push-7 {
    left: 58.33333333%;
  }
  .app-container .iv-col-sm-push-6 {
    left: 50%;
  }
  .app-container .iv-col-sm-push-5 {
    left: 41.66666667%;
  }
  .app-container .iv-col-sm-push-4 {
    left: 33.33333333%;
  }
  .app-container .iv-col-sm-push-3 {
    left: 25%;
  }
  .app-container .iv-col-sm-push-2 {
    left: 16.66666667%;
  }
  .app-container .iv-col-sm-push-1 {
    left: 8.33333333%;
  }
  .app-container .iv-col-sm-push-0 {
    left: auto;
  }
  .app-container .iv-col-sm-offset-12 {
    margin-left: 100%;
  }
  .app-container .iv-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .app-container .iv-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .app-container .iv-col-sm-offset-9 {
    margin-left: 75%;
  }
  .app-container .iv-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .app-container .iv-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .app-container .iv-col-sm-offset-6 {
    margin-left: 50%;
  }
  .app-container .iv-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .app-container .iv-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .app-container .iv-col-sm-offset-3 {
    margin-left: 25%;
  }
  .app-container .iv-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .app-container .iv-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .app-container .iv-col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .app-container .iv-col-md-1,
  .app-container .iv-col-md-2,
  .app-container .iv-col-md-3,
  .app-container .iv-col-md-4,
  .app-container .iv-col-md-5,
  .app-container .iv-col-md-6,
  .app-container .iv-col-md-7,
  .app-container .iv-col-md-8,
  .app-container .iv-col-md-9,
  .app-container .iv-col-md-10,
  .app-container .iv-col-md-11,
  .app-container .iv-col-md-12 {
    float: left;
  }
  .app-container .iv-col-md-12 {
    width: 100%;
  }
  .app-container .iv-col-md-11 {
    width: 91.66666667%;
  }
  .app-container .iv-col-md-10 {
    width: 83.33333333%;
  }
  .app-container .iv-col-md-9 {
    width: 75%;
  }
  .app-container .iv-col-md-8 {
    width: 66.66666667%;
  }
  .app-container .iv-col-md-7 {
    width: 58.33333333%;
  }
  .app-container .iv-col-md-6 {
    width: 50%;
  }
  .app-container .iv-col-md-5 {
    width: 41.66666667%;
  }
  .app-container .iv-col-md-4 {
    width: 33.33333333%;
  }
  .app-container .iv-col-md-3 {
    width: 25%;
  }
  .app-container .iv-col-md-2 {
    width: 16.66666667%;
  }
  .app-container .iv-col-md-1 {
    width: 8.33333333%;
  }
  .app-container .iv-col-md-pull-12 {
    right: 100%;
  }
  .app-container .iv-col-md-pull-11 {
    right: 91.66666667%;
  }
  .app-container .iv-col-md-pull-10 {
    right: 83.33333333%;
  }
  .app-container .iv-col-md-pull-9 {
    right: 75%;
  }
  .app-container .iv-col-md-pull-8 {
    right: 66.66666667%;
  }
  .app-container .iv-col-md-pull-7 {
    right: 58.33333333%;
  }
  .app-container .iv-col-md-pull-6 {
    right: 50%;
  }
  .app-container .iv-col-md-pull-5 {
    right: 41.66666667%;
  }
  .app-container .iv-col-md-pull-4 {
    right: 33.33333333%;
  }
  .app-container .iv-col-md-pull-3 {
    right: 25%;
  }
  .app-container .iv-col-md-pull-2 {
    right: 16.66666667%;
  }
  .app-container .iv-col-md-pull-1 {
    right: 8.33333333%;
  }
  .app-container .iv-col-md-pull-0 {
    right: auto;
  }
  .app-container .iv-col-md-push-12 {
    left: 100%;
  }
  .app-container .iv-col-md-push-11 {
    left: 91.66666667%;
  }
  .app-container .iv-col-md-push-10 {
    left: 83.33333333%;
  }
  .app-container .iv-col-md-push-9 {
    left: 75%;
  }
  .app-container .iv-col-md-push-8 {
    left: 66.66666667%;
  }
  .app-container .iv-col-md-push-7 {
    left: 58.33333333%;
  }
  .app-container .iv-col-md-push-6 {
    left: 50%;
  }
  .app-container .iv-col-md-push-5 {
    left: 41.66666667%;
  }
  .app-container .iv-col-md-push-4 {
    left: 33.33333333%;
  }
  .app-container .iv-col-md-push-3 {
    left: 25%;
  }
  .app-container .iv-col-md-push-2 {
    left: 16.66666667%;
  }
  .app-container .iv-col-md-push-1 {
    left: 8.33333333%;
  }
  .app-container .iv-col-md-push-0 {
    left: auto;
  }
  .app-container .iv-col-md-offset-12 {
    margin-left: 100%;
  }
  .app-container .iv-col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .app-container .iv-col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .app-container .iv-col-md-offset-9 {
    margin-left: 75%;
  }
  .app-container .iv-col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .app-container .iv-col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .app-container .iv-col-md-offset-6 {
    margin-left: 50%;
  }
  .app-container .iv-col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .app-container .iv-col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .app-container .iv-col-md-offset-3 {
    margin-left: 25%;
  }
  .app-container .iv-col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .app-container .iv-col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .app-container .iv-col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .app-container .iv-col-lg-1,
  .app-container .iv-col-lg-2,
  .app-container .iv-col-lg-3,
  .app-container .iv-col-lg-4,
  .app-container .iv-col-lg-5,
  .app-container .iv-col-lg-6,
  .app-container .iv-col-lg-7,
  .app-container .iv-col-lg-8,
  .app-container .iv-col-lg-9,
  .app-container .iv-col-lg-10,
  .app-container .iv-col-lg-11,
  .app-container .iv-col-lg-12 {
    float: left;
  }
  .app-container .iv-col-lg-12 {
    width: 100%;
  }
  .app-container .iv-col-lg-11 {
    width: 91.66666667%;
  }
  .app-container .iv-col-lg-10 {
    width: 83.33333333%;
  }
  .app-container .iv-col-lg-9 {
    width: 75%;
  }
  .app-container .iv-col-lg-8 {
    width: 66.66666667%;
  }
  .app-container .iv-col-lg-7 {
    width: 58.33333333%;
  }
  .app-container .iv-col-lg-6 {
    width: 50%;
  }
  .app-container .iv-col-lg-5 {
    width: 41.66666667%;
  }
  .app-container .iv-col-lg-4 {
    width: 33.33333333%;
  }
  .app-container .iv-col-lg-3 {
    width: 25%;
  }
  .app-container .iv-col-lg-2 {
    width: 16.66666667%;
  }
  .app-container .iv-col-lg-1 {
    width: 8.33333333%;
  }
  .app-container .iv-col-lg-pull-12 {
    right: 100%;
  }
  .app-container .iv-col-lg-pull-11 {
    right: 91.66666667%;
  }
  .app-container .iv-col-lg-pull-10 {
    right: 83.33333333%;
  }
  .app-container .iv-col-lg-pull-9 {
    right: 75%;
  }
  .app-container .iv-col-lg-pull-8 {
    right: 66.66666667%;
  }
  .app-container .iv-col-lg-pull-7 {
    right: 58.33333333%;
  }
  .app-container .iv-col-lg-pull-6 {
    right: 50%;
  }
  .app-container .iv-col-lg-pull-5 {
    right: 41.66666667%;
  }
  .app-container .iv-col-lg-pull-4 {
    right: 33.33333333%;
  }
  .app-container .iv-col-lg-pull-3 {
    right: 25%;
  }
  .app-container .iv-col-lg-pull-2 {
    right: 16.66666667%;
  }
  .app-container .iv-col-lg-pull-1 {
    right: 8.33333333%;
  }
  .app-container .iv-col-lg-pull-0 {
    right: auto;
  }
  .app-container .iv-col-lg-push-12 {
    left: 100%;
  }
  .app-container .iv-col-lg-push-11 {
    left: 91.66666667%;
  }
  .app-container .iv-col-lg-push-10 {
    left: 83.33333333%;
  }
  .app-container .iv-col-lg-push-9 {
    left: 75%;
  }
  .app-container .iv-col-lg-push-8 {
    left: 66.66666667%;
  }
  .app-container .iv-col-lg-push-7 {
    left: 58.33333333%;
  }
  .app-container .iv-col-lg-push-6 {
    left: 50%;
  }
  .app-container .iv-col-lg-push-5 {
    left: 41.66666667%;
  }
  .app-container .iv-col-lg-push-4 {
    left: 33.33333333%;
  }
  .app-container .iv-col-lg-push-3 {
    left: 25%;
  }
  .app-container .iv-col-lg-push-2 {
    left: 16.66666667%;
  }
  .app-container .iv-col-lg-push-1 {
    left: 8.33333333%;
  }
  .app-container .iv-col-lg-push-0 {
    left: auto;
  }
  .app-container .iv-col-lg-offset-12 {
    margin-left: 100%;
  }
  .app-container .iv-col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .app-container .iv-col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .app-container .iv-col-lg-offset-9 {
    margin-left: 75%;
  }
  .app-container .iv-col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .app-container .iv-col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .app-container .iv-col-lg-offset-6 {
    margin-left: 50%;
  }
  .app-container .iv-col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .app-container .iv-col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .app-container .iv-col-lg-offset-3 {
    margin-left: 25%;
  }
  .app-container .iv-col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .app-container .iv-col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .app-container .iv-col-lg-offset-0 {
    margin-left: 0;
  }
}
/**
*
* FONTS
*
**/
/**
*
* helvetica-neue-regular
*
**/
@font-face {
  font-family: 'helvetica-neue-regular';
  src: url('fonts/helvetica-neue/regular/HelveticaNeueRegular.eot');
  src: url('fonts/helvetica-neue/regular/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'), url('fonts/helvetica-neue/regular/HelveticaNeueRegular.woff') format('woff'), url('fonts/helvetica-neue/regular/HelveticaNeueRegular.ttf') format('truetype'), url('fonts/helvetica-neue/regular/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
*
* helvetica-neue-bold
*
**/
@font-face {
  font-family: 'helvetica-neue-bold';
  src: url('fonts/helvetica-neue/bold/HelveticaNeueBold.eot');
  src: url('fonts/helvetica-neue/bold/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'), url('fonts/helvetica-neue/bold/HelveticaNeueBold.woff') format('woff'), url('fonts/helvetica-neue/bold/HelveticaNeueBold.ttf') format('truetype'), url('fonts/helvetica-neue/bold/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
*
* MIXIN FUNCTIONS FONTS
*
**/
/**
*
* HELPERS
*
**/
.iv-full-w {
  width: 100%;
}
.iv-full-h {
  height: 100%;
}
.iv-square {
  width: 100%;
  height: 100%;
}
.iv-center-block {
  margin: 0 auto;
  display: block;
}
.iv-displaytable {
  display: table;
}
.iv-middle {
  display: table-cell;
  vertical-align: middle;
}
.iv-overflow {
  overflow: hidden;
}
.iv-pull-right {
  float: right;
}
.iv-pull-left {
  float: left;
}
.iv-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
/*-----  End of IMPORTS  ------*/
/*===================================
=            APPLICATION            =
===================================*/
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.app-container {
  width: 100%;
  height: 100%;
  /**
	*
	* app
	*
	**/
}
.app-container .square-molecule {
  width: 540px;
  height: 650px;
  position: relative;
  perspective: 800px;
  margin: 0 auto;
}
.app-container .square-molecule .square-atom {
  width: 540px;
  height: 650px;
  position: absolute;
  transform-style: preserve-3d;
  z-index: 100;
  -webkit-transition: transform .4s ease;
  -moz-transition: transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
}
.app-container .square-molecule .square-atom:hover,
.app-container .square-molecule .square-atom:focus {
  transform: rotateY(180deg);
}
.app-container .square-molecule .square-atom figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.app-container .square-molecule .square-atom .front {
  background: red;
}
.app-container .square-molecule .form {
  width: 540px !important;
  height: 650px !important;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: -webkit-opacity 0.15s ease-out, -webkit-transform 0.3s cubic-bezier(0.17, 0.67, 0.2, 1.3);
  -moz-transition: opacity 0.15s ease-out, -webkit-transform 0.3s cubic-bezier(0.17, 0.67, 0.2, 1.3);
  -o-transition: opacity 0.15s ease-out, -webkit-transform 0.3s cubic-bezier(0.17, 0.67, 0.2, 1.3);
  transition: opacity 0.15s ease-out, -webkit-transform 0.3s cubic-bezier(0.17, 0.67, 0.2, 1.3);
  -webkit-backface-visibility: hidden;
}
.app-container .square-molecule .form.open {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  -o-transform: translate(0, 0%);
  transform: translate(0, 0%);
  -webkit-backface-visibility: hidden;
}
/*-----  End of APPLICATION  ------*/
/*# sourceMappingURL=assets/css/main.css.map */